@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Цифровое здравоохранение</h1>
    <p class="lead">Веб-приложение для диагностики заболеваний.
       </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>МКБ</h2>
        <p>
            Международная статистическая классификация болезней и проблем, связанных со здоровьем
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/ICD-10">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Симптом</h2>
        <p>  один из отдельных признаков, частное проявление какого-либо заболевания, 
            патологического состояния или нарушения какого-либо процесса жизнедеятельности.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Symptom">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Болезнь</h2>
        <p>то состояние организма, выраженное в нарушении его нормальной жизнедеятельности,
            продолжительности жизни и его способности поддерживать свой гомеостаз. Является следствием ограниченных энергетических 
            и функциональных возможностей живой системы в её противостоянии патогенным факторам. </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Disease">Узнать больше &raquo;</a></p>
    </div>
</div>